body{
    background: url(../images/img00.png) ;
    background-size: cover;
}



.card input{
   
    
    border:none;
    border-bottom:solid black 2px;
}

.card textarea:focus{
    border-bottom:solid green 3px;
}

input:focus{
    border-bottom: solid 3px green;
}

.card textarea{
    border:none;
    border-bottom:solid 2px black;
    height: 25px;
}

